@media only screen and (min-device-width: 321px) {
    body {
        /*padding-top:40px;*/
    }
}

#astropack .navbar-fixed-top .navbar-inner { padding: 0 0 0 20px; }

.pack-action { float:right; }

.to-pack .pack-action.pack { display:block; }
.to-pack .pack-action.undo-pack { display:none; }
.packed  .pack-action.pack { display:none; }
.packed  .pack-action.undo-pack { display:block; }