@media only screen and (min-device-width: 321px) {
    body {
        padding-top:40px;
    }
}

#astropack .navbar-fixed-top .navbar-inner { padding: 0 20px; }

/* Initially, no items have been packed, so hide item groups */
.packed { display:none; }

#astropack .item-group { margin-bottom:12px; }
#astropack .item-group th { background-color:#EEE; color: #08C;font-size:11px; font-style:italic; font-weight:400; padding:2px 8px; }
#astropack .item-group td { font-size:16px; font-weight:300; }
#astropack .item-group .item-group-icon { margin: 0 4px 0 0; opacity:0.3; }

.item-name { display: inline-block; margin-top:3px; }

/* Pack Unpack item buttons */
.pack-action { float:right; }
.to-pack .pack-action.undo-pack { display:none; }
.packed  .pack-action.pack { display:none; }
