<!DOCTYPE html>
<html>
  <head>
    <title>Astropack | Never forget anything again.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- jQuery first -->
    <script src="lib/jquery-1.9.1.js"></script>
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <!-- Underscore -->
    <script src="lib/underscore.js"></script>
    <!-- Backbone -->
    <script src="lib/backbone-min.js"></script>
    <!-- Backbone local storage -->
    <!--<script src="js/backbone.localStorage-min.js"></script>-->
    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/astro.css" rel="stylesheet">
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Masonry -->
    <script src="lib/jquery.masonry.min.js"></script>
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

    <style type="text/css">
        body { background-color: #faf7f7; }
        .header { text-align: center; }
        .header h1 { 
            font-family:'Gabriela', serif;
            font-size:28px;
            font-weight: 400;
            text-shadow: -1px 1px 2px #fff, 1px -1px 2px #fff;
        }

        /*#astropack { background-color:#333; opacity:0.5; }*/
        #trips-container { margin-left:4%; }
        .trip { position:relative; width:46%; margin-bottom:8px; margin-left:8px; z-index:5; max-width:200px; }
        /*.trip:nth-of-type(odd) { margin-right: 8px; }*/
        .trip a { position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-decoration:none; z-index:10; cursor:pointer; }
        .trip .label { position:absolute; top:6px; left:6px; }

        img { box-shadow: 0px 0px 3px #333; }
        img:hover { opacity:0.5; }

        span.label { font-family:'Gabriela', serif; font-weight:400; }

    </style>
    
  </head>

  <body>
    <div class="container" id="astropack">

        <div class="header">
            <h2 style="font-size:21px; font-weight:300">Get packing. Forget <span style="font-style:italic;">nothing</span>.</h2>
        </div>

        <div class="tabbable">

            <div id="trip-type-nav" style="font-family:'Julius Sans One', sans-serif;">
                <ul class="nav nav-pills" style="text-align:center;">
                  <li class="active" style="margin-left:40px"><a href="#common-trips" data-toggle="tab">Common</a></li>
                  <li><a href="#my-trips" data-toggle="tab">My Trips</a></li>
                </ul>
            </div>

            <div class="tab-content">

                <div class="tab-pane active" id="common-trips">
                    <div id="trips-container">
                        <div class="trip">
                            <span class="label label-inverse">Cruise</span>
                            <img src="http://jerrygarrett.files.wordpress.com/2011/08/carnival-victory.jpg" class="img-rounded" alt="cruise" />
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Overseas Travel</span>
                            <img src="http://upload.wikimedia.org/wikipedia/commons/2/29/Passport_stamps.jpg" class="img-rounded" alt="overseas travel" />
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Ski Trip</span>
                            <img src="http://www.realfoodtraveler.com/wp-content/uploads/2012/03/SP-Ski_Powder_sm.jpg" class="img-rounded" alt="ski trip" />
                            <a href="/#ski-trip"></a>
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Business Trip</span>
                            <img src="http://www.2knowb440.com/blog/wp-content/uploads/2012/04/bigstock_Business_Traveller_5315537.jpg" class="img-rounded" alt="business trip" />
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Warm Weather Trip</span>
                            <img src="http://25.media.tumblr.com/tumblr_lo8j9kyC641qaxf8ko1_1280.jpg" class="img-rounded" alt="warm vacation" />
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Bike ride</span>
                            <img src="http://debruynphotography.com/wp-content/uploads/2012/06/Mountain-Biking-1.jpg" class="img-rounded" alt="bike ride" />
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Everyday bag</span>
                            <img src="http://myfashionique.files.wordpress.com/2012/01/backpack_guy.jpg" class="img-rounded" alt="everyday backpack" />
                        </div>

                        <div class="trip">
                            <span class="label label-inverse">Gym Bag</span>
                            <img src="http://2buttonswag.files.wordpress.com/2011/06/kellan-lutz-gym-bag.jpg" class="img-rounded" alt="everyday backpack" />
                        </div>

                    </div>

                </div>

            <div class="tab-pane" id="my-trips">
                You don't have any custom trips yet.

                [Create from scratch]

                [Duplicate a common list]
            </div>

        </div>
    </div>

</div>

    <!-- Item Template -->
    <script type="text/template" id="item-template">
        <td>
            <div class="item-name"><%= name %></div>
            <button class="pack-action btn btn-success pack">Pack</button>
            <button class="pack-action btn btn-warning undo-pack">Undo Pack</button>
        </td>
    </script>

    <!-- Item Group Template -->
    <script type="text/template" id="item-group-template">
        <div class="item-group-container <%= packedState %>" id="<%= selectorName %>-items-list-<%= packedState %>">
            <table class="table table-striped item-group">
                <thead>
                    <th>
                        <span class="item-group-icon icon-th-list"></span>
                        <%= displayName %>
                    </th>
                </thead>
            </table>
        </div>
    </script>


    <script type="text/javascript">
        var $container = $('#common-trips');

        $container.imagesLoaded( function(){
          $container.masonry({
            itemSelector : '.trip',
            isFitWidth: true
          });

        });

        $('#trip-type-nav a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
    </script>

    <!-- ASTRO LOGIC -->
    <script type="text/javascript">
        var AstroApp = {
            Models: {},
            Collections: {},
            Views: {}, 
            Templates: {},
            Router: {}
        };
    </script>
    <script src="js/utils.js"></script>
    <script src="js/astro-views.js"></script>
    <script src="js/astro.js"></script>
    <script src="js/astro-router.js"></script>

  </body>
</html>
