<!DOCTYPE html>
<html>
  <head>
    <title>Astropack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- jQuery first -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- underscore -->
    <script src="js/underscore.js"></script>
    <!-- Backbone -->
    <script src="js/backbone-min.js"></script>
    <!-- Backbone local storage -->
    <!--<script src="js/backbone.localStorage-min.js"></script>-->
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/matte-pack.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="css/astro.css" rel="stylesheet">
  </head>

  <body>
    <div id="astropack">

        <div id="main">



        </div>
        

        <!-- Item Template -->
        <script type="text/template" id="item-template">
            <td>
                <span class="item-name"><%= name %></span>
                <button class="pack-action btn btn-success">Pack</button>
            </td>
        </script>

        <!-- Item Group Template -->
        <script type="text/template" id="item-group-template">
            <table id="toiletries-items-list" class="table table-striped item-group">
                <thead>
                    <th><%= name %></th>
                </thead>
            </table>
        </script>


        <!-- ASTRO LOGIC -->
        <script src="js/utils.js"></script>
        <script src="js/astro-views.js"></script>
        <script src="js/astro.js"></script>

    </div>
  </body>
</html>
