<!DOCTYPE html>
<html>
  <head>
    <title>Astropack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- jQuery first -->
    <script src="lib/jquery-1.9.1.js"></script>
    <!-- Underscore -->
    <script src="lib/underscore.js"></script>
    <!-- Backbone -->
    <script src="lib/backbone-min.js"></script>
    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <!-- Astro CSS -->
    <link href="css/astro.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" id="astropack">

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="/#home" style="font-size:16px; padding-right:20px"><i class="icon-arrow-left" style="opacity:0.3;margin:3px 7px 0px 0px;"></i>Home</a>
                <ul class="nav" id="pack-nav-subpages">
                  <li class="active">
                    <a href="#to-pack-nav-item">To Pack</a>
                  </li>
                  <li>
                    <a href="#packed-nav-item">Packed</a>
                  </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
          <div class="tab-pane active" id="to-pack-nav-item">
            <div id="to-pack-container"></div>
          </div>
          <div class="tab-pane" id="packed-nav-item">
            <div id="packed-container"></div>
          </div>
        </div>
        

        <!-- Item Template -->
        <script type="text/template" id="item-template">
            <td>
                <div class="item-name"><%= name %></div>
                <button class="pack-action btn btn-success pack">Got It</button>
                <button class="pack-action btn btn-warning undo-pack">Undo</button>
            </td>
        </script>

        <!-- Item Group Template -->
        <script type="text/template" id="item-group-template">
            <div class="item-group-container <%= packedState %>" id="<%= selectorName %>-items-list-<%= packedState %>">
                <table class="table table-striped item-group">
                    <thead>
                        <th>
                            <span class="item-group-icon icon-th-list"></span>
                            <%= displayName %>
                        </th>
                    </thead>
                </table>
            </div>
        </script>

        <script type="text/javascript">
            // nav bar tabs
            $(document).ready(function() {
               $('#pack-nav-subpages a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                })
            });
        </script>

    </div>

    <!-- ASTRO LOGIC -->
    <script src="js/utils.js"></script>
    <script src="js/astro-views.js"></script>
    <script src="js/astro.js"></script>
    <script src="js/astro-router.js"></script>

  </body>
</html>
